Options -MultiViews
RewriteEngine On
RewriteBase /manar/

# 1. Redirección externa para quitar .php (si se escribe manualmente)
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.+)\.php\ HTTP/
RewriteRule ^(.+)\.php$ $1 [R=301,L]

# 2. Mapeo interno para archivos en la raíz y en subcarpetas
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L]